<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>home page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/common-navbar::navbar"></div>
    <div class="container">

        <div class="row">
            <h1 style="text-align: center;margin-top: 15%">Welome to the home page!</h1>
            <br>
            <p style="text-align: center">Developed by Sofiia Shaposhnikova (KA-02)</p>
            <p style="text-align: center">As an additional task for the course "Cross-platform
                programming with Java"</p>
            <p style="text-align: center">Have a nice user experience!</p>
        </div>

    </div>

</body>

</html>