<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>new row</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/common-navbar::navbar"></div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">add new row</h1>
                <div class="card-body">
                    <form th:action="@{/api/journal}" th:object="${journal}" method="post">
                        <div class="form-group m-2">
                            <input type="text" name="name" th:field="*{name}" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group m-2">
                            <input type="text" name="studentGroup" th:field="*{studentGroup}" placeholder="Group"
                                class="form-control">
                        </div>

                        <div class="form-group m-2">
                            <select th:field="*{studentGroup}" name="studentGroup" class="form-control">
                                <option th:each="sg: ${student_group}">
                                    th:value="${sg.group_id}"
                                    th:text="${sg.groupName}"
                                </option>
                            </select>
                        </div>

                        <div class="form-group m-2">
                            <input type="text" name="week" th:field="*{week}" placeholder="Week" class="form-control">
                        </div>
                        <div class="form-group m-2">
                            <input type="text" name="total" th:field="*{total}" placeholder="Total"
                                class="form-control">
                        </div>
                        <div class="form-group m-2">
                            <input type="text" name="P1" th:field="*{P1}" placeholder="P1" class="form-control">
                        </div>
                        <div class="form-group m-2">
                            <input type="text" name="final_grade" th:field="*{final_grade}" placeholder="Final Grade"
                                class="form-control">
                        </div>
                        <div class="form-group m-2">
                            <input type="text" name="final_mark" th:field="*{final_mark}"
                                placeholder="Final Grade (E - A)" class="form-control">
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success m-2">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>